table {
    border: 1px solid rgb(114, 45, 45);
    color: rgb(14, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(95, 29, 29);
  }

  #myInput, #searchTrigger {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #message1, table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
tr.header, tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #75a1b6;
  }