body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border: 1px solid rgb(114, 45, 45);
    color: rgb(14, 17, 17);
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(95, 29, 29);
  }

  #myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #message1, table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
tr.header, tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #75a1b6;
  }

#triggersFilter {
    position: relative;
    border: 1px solid rgb(114, 45, 45);
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Light background color */
    padding: 10px; /* Add padding */
}

#triggersFilterLabel {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: #fff; /* White background color for label */
    padding: 0 5px; /* Add padding */
    font-size: 14px;
}

.triggerFilterContainer, .triggerFilterSearch {
    display: flex;
    align-items: center; /* Center vertically */
}

.triggerFilterObjectContainer,
.triggerFilterSearch {
    margin: 0 5px; /* Add margin between elements */
}

.triggerFilterObjectContainer label,
.triggerFilterSearch label {
    margin-right: 5px; /* Add margin between label and input/select */
    font-size: 16px;
}

#Object,
#searchTrigger {
    flex: 1; /* Equal width for both inputs */
    padding: 8px; /* Adjust padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 0; /* Remove border radius */
    font-size: 16px;
}

.triggerFilterSearch input[type="text"] {
    width: calc(100% - 24px); /* Calculate width considering padding */
}

.triggerFilterSearch input[type="text"]::placeholder {
    color: #999; /* Placeholder text color */
}

/* #region Trigger Status Checkbox */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px greenyellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader {
  margin-left: 10px;
  visibility: hidden;
}

.loadersmall {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid rgb(12, 75, 104);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
}
.loader::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.loader:hover::after {
  visibility: visible;
  opacity: 1;
}

.status-cell {
  display: flex;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* #endregion Trigger Status Checkbox End */